@font-face {
  font-family: 'Heading';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/fonts/libre/libre/LibreCaslonCondensed-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'MonoMedium';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Medium.woff2') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  --color-background: #e0e0e0;
  --color-background-content: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-primary: #00ff89;
  --color-primary-secondary: rgba(0, 255, 137, 0.6);

  --theme-marketing-border: #e0e0e0;
  --theme-marketing-color-label: rgba(0, 0, 0, 0.5);

  --theme-background: rgba(255, 255, 255, 1);

  --theme-typescale-large: 2.488rem;
  --theme-typescale-medium: 2.074rem;
  --theme-typescale-regular: 1.728rem;
  --theme-typescale-subsection-heading: 1.44rem;
  --theme-typescale-subsection-regular: 1.2rem;
  --theme-typescale-base: 1rem;
  --theme-typescale-tiny: 0.833rem;

  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  background: var(--color-background);
  color: var(--color-text);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    helvetica neue,
    helvetica,
    sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  ::-webkit-scrollbar {
    display: none;
  }
}
