@import url('https://fonts.cdnfonts.com/css/encode-sans-2');
@import url('https://fonts.cdnfonts.com/css/open-sans');

html,
body {
  --theme-uw-white: rgba(255, 255, 255, 1);
  --theme-uw-husky-purple: rgba(50, 0, 110, 1);
  --theme-uw-spirit-purple: rgba(51, 0, 111, 1);
  --theme-uw-husky-gold: rgba(232, 211, 162, 1);
  --theme-uw-heritage-gold: rgba(145, 123, 76, 1);
  --theme-uw-spirit-gold: rgba(255, 199, 0, 1);
  --theme-uw-accent-green: rgba(170, 219, 30 1);
  --theme-uw-accent-teal: rgba(42, 210, 201, 1);
  --theme-uw-accent-pink: rgba(233, 60, 172, 1);
  --theme-uw-accent-lavender: rgba(197, 180, 227, 1);
  --theme-uw-black: rgba(0, 0, 0, 1);
  --theme-uw-white: rgba(255, 255, 255, 1);
  --theme-uw-gray: #d5d8de;
}
