.body {
  margin-top: 8rem;
  background: var(--color-background);
}

.footer {
  padding: 48px 24px 48px 24px;
  max-width: 800px;
  margin: 88px auto 0 auto;

  @media (max-width: 768px) {
    padding: 48px 8px 48px 8px;
  }
}

.title {
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 8px;
  font-size: 1rem;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  width: 50%;
  padding: 16px 16px 32px 16px;
}

.content {
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.subtext {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;

  a {
    color: rgba(0, 0, 0, 0.6);
    transition: 200ms ease all;
    cursor: pointer;
    &:visited {
      color: rgba(0, 0, 0, 0.6);
    }

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.copy {
  margin-top: 48px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
}

.link {
  line-height: 1.5;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 1rem;
  transition: 200ms ease all;

  &:visited {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}
