.body {
  display: flex;
  align-items: flex-start;
  max-width: 1496px;
  margin: 0 auto 0 auto;
  padding-top: 48px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.column {
  width: 25%;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.card {
  padding: 16px 16px 0 16px;
  width: 100%;
  @media (max-width: 768px) {
    padding: 16px 24px 0 24px;
  }
}

.space {
  background: var(--color-background);
  border-radius: 4px;
}

.testimonial {
  font-size: 1.755rem;
  font-family: 'Heading';
  padding: 24px;
  color: rgba(0, 0, 0, 1);
  line-height: 1.115;
}

.author {
  padding: 24px;
  text-align: right;
  font-size: 0.8rem;
}
