.section {
  background: var(--color-background-content);
}

.body {
  padding: 0px 24px 48px 24px;
  max-width: 768px;
  margin: 0 auto 0 auto;
}

.block {
  padding: 16px;

  background: rgba(176, 189, 171, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(176, 189, 171, 0.3);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.left {
  min-width: 10%;
  width: 100%;
}

.right {
  flex-shrink: 0;
  margin-left: 24px;
}

.row {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.paragraph {
  line-height: 1.5;
  margin-top: 6px;
  font-weight: 400;
  font-size: 0.8rem;
}
