.section {
  background: var(--color-background-content);
}

.body {
  padding: 48px 24px 48px 24px;
  max-width: 768px;
  margin: 0 auto 0 auto;
}

.subheading {
  font-weight: 600;
  margin-top: 48px;
}

.paragraph {
  margin-top: 48px;
  max-width: 728px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.image {
  display: block;
  width: 100%;
  margin-top: 48px;
}

.list {
  margin-top: 1.5rem;
  padding-left: 24px;
  line-height: 1.5;
}

.item {
  margin-top: 4px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);

  strong {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
  }
}
