.section {
  background: var(--color-background-content);
}

.body {
  padding: 48px 24px 64px 24px;
  max-width: 768px;
  margin: 0 auto 0 auto;
}

.logo {
  font-family: 'Heading';
  font-size: 3rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  display: inline-flex;
}
