.section {
  background: var(--color-background-content);
}

.body {
  padding: 16px 24px 48px 24px;
  max-width: 768px;
  margin: 0 auto 0 auto;
}

.heading {
  font-family: 'Heading';
  font-size: 2.8rem;
  display: block;
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;

  strong {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
}

.paragraph {
  margin-top: 24px;
  max-width: 728px;
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
}
